.idea
target
*.iml
.project
.classpath
.settings
src/main/webapp/lib/*
src/main/webapp/node/*
src/main/webapp/node_modules/*
resources/client_secrets.json
resources/people_basic_auth.txt
src/main/webapp/WEB-INF/*.api
