<nav id="app-header" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="navbar-header">
        <h1><a class="navbar-brand" href="#/"><img src="assets/images/tech-gallery.png" alt="Tech Gallery"> Tech Gallery</a></h1>
      </div>
    </div>
  </div>
</nav>
<main id="app-content">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="card" style="margin-top: 100px;">
        <div class="card-section">
          <h1>Ocorreu um erro!</h1>
          <!-- <p><strong>404</strong>. That's an error.</p> -->
          <p>A URL que você requisitou não foi encontrada.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer id="app-footer">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">
        <p><a href="#/" title="Tech Gallery"><img src="assets/images/tech-gallery.png" class="app-logo" alt="Tech Gallery"></a></p>
        <p>Copyright &copy; 2015 CI&amp;T. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
