<nav id="app-header" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="navbar-header">
        <h1><a class="navbar-brand" href="#/"><img src="assets/images/tech-gallery.png" alt="Tech Gallery"> Tech Gallery</a></h1>
      </div>

      <div class="navbar-right" ng-if="app.isUserLogged">
        <!-- SEARCH -->
        <form id="app-search" ng-submit="searchTechnology()" class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" ng-disabled="app.isLoading" ng-model="textSearch" class="form-control" placeholder="Digite sua busca&hellip;">
            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </form>

        <!-- USER DROPDOWN -->
        <ul class="nav navbar-nav navbar-right">
          <li uib-dropdown uib-keyboard-nav>
            <a href="#"  role="button" uib-dropdown-toggle>Gabriel Izaias <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
              <li><a href="#">Meu perfil</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="logout()">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<main id="app-content">
  <login ng-if="!app.isUserLogged"></login>
  <ui-view ng-if="app.isUserLogged"></ui-view>
</main>
