/* Tech Gallery css stylesheet */
.technologydescription {
	text-align: justify;
	height: 80px;
	width: 100%;
	display: block;
}

.spacingtop{
	margin-top: 2%;	
}

body, html {
	background-color: #ddd !important;
}

.thumbnail-Image {
	height: 200px !important;
	width: 100%;
	display: block;
}

.login-Button {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}
