/* Tech Gallery css stylesheet */
.technologydescription {
  text-align: justify;
  height: 80px;
  width: 100%;
  display: block;
}

.techGalleryFixedBar{
	background-color:#FF6666;
	opacity:0.8
}

.GPlusDefault{
	color: #262626 !important;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 1px 1px 1px black;
}

.GPlusAdded{
	color: white !important;
	font-weight: bold;
    background-color: #dd4b39;
    box-shadow: 1px 1px 1px black;
}

.plusOneButton{
	float: left
}

.alignBar{
	margin-top:-20px
}

.logoBar{
	width:30px;
	float:left;
	margin-top:15px;
	margin-right:10px	
}

.headerBar{
	float:right;
	color:white
}

.rightSideBar{
	margin-top:8px
}

.whiteText{
	color:white
}

.overLayer{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loading{
  display: block;
  margin: 0 auto;
}

.img-tech-view{
  height: 355px;
  width: 355px;
}

.thumbnail{
  min-height: 430px;
  box-shadow: 5px 5px 5px
}

.titleThumbnail{
	text-align:center;
	white-space: nowrap;
}

.spacingtop {
  margin-top: 2%;
}

body, html {
  background-color: #ddd;
}

.thumbnail-Image {
  width: 200px;
  display: block !important;
  max-height: 355px;
  max-width: 355px;
  margin: 0 auto;
}

.login-Button {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.endorsed-image {
  width: 64px;
  height: 64px;
}

.endorsers-image {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.endorse-input {
  width: 30%;
  float: left;
  margin-right: 10%;
}

.endorse-alerts {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.textarea {
  height: 108px !important;
  margin-bottom: 5px;
}

.smallFont{
  font-size: small
}

.mediumFont{
  font-size: medium
}

.commentName{
  font-size: large;
  margin-left: 15px;
}

.commentHeader{
  display: flex;
  align-items: center;
}

.flex1{
  flex: 1;
}

.commentImage{
  display: inline;
}

.commentBlock{
  margin-bottom: 30px;
}

.techSearch{
  margin-right: 50px;
}

.searchButton{
  box-shadow: 2px 2px 2px black;
  margin-right: 5px
}

.selectedThumbUp {
  color: green !important;
}

.selectedThumbDown {
  color: red !important;
}

.thumbsFont {
  font-size: 40px;
}

.recommendations-link {
  font-size: 20px;
}

.caption {
  height: 120px;
}

.recommendationInComment {
  float: left;
  margin-top: 20px;
  right: 20px;
  font-size: 31px;
}

.recommendQuestion {
  padding-left: 0px !important;
}

.removeFilter {
  float: right;
}