.scanvas-app-preloader {
    display: block
}

.scanvas-app-preloader .loader-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.scanvas-app-preloader #loader {
    display: block;
    position: relative;
    z-index: 1500;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #1E88E6;
    border-radius: 50%;
    -webkit-animation: scanvas-app-preloader-spin 2s linear infinite;
    -moz-animation: scanvas-app-preloader-spin 2s linear infinite;
    -o-animation: scanvas-app-preloader-spin 2s linear infinite;
    -ms-animation: scanvas-app-preloader-spin 2s linear infinite;
    animation: scanvas-app-preloader-spin 2s linear infinite
}

.scanvas-app-preloader #loader .span01,.scanvas-app-preloader #loader .span02 {
    border: 3px solid transparent;
    content: "";
    position: absolute
}

.scanvas-app-preloader #loader .span01 {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #8E24AA;
    border-radius: 50%;
    -webkit-animation: scanvas-app-preloader-spin 3s linear infinite;
    -moz-animation: scanvas-app-preloader-spin 3s linear infinite;
    -o-animation: scanvas-app-preloader-spin 3s linear infinite;
    -ms-animation: scanvas-app-preloader-spin 3s linear infinite;
    animation: scanvas-app-preloader-spin 3s linear infinite
}

.scanvas-app-preloader #loader .span02 {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: #439F47;
    border-radius: 50%;
    -webkit-animation: scanvas-app-preloader-spin 1.5s linear infinite;
    -moz-animation: scanvas-app-preloader-spin 1.5s linear infinite;
    -o-animation: scanvas-app-preloader-spin 1.5s linear infinite;
    -ms-animation: scanvas-app-preloader-spin 1.5s linear infinite;
    animation: scanvas-app-preloader-spin 1.5s linear infinite
}

.scanvas-app-preloader #loader .span03 {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border: 3px solid transparent;
    border-top-color: #FDD835;
    border-radius: 50%;
    -webkit-animation: scanvas-app-preloader-spin 1s linear infinite;
    -moz-animation: scanvas-app-preloader-spin 1s linear infinite;
    -o-animation: scanvas-app-preloader-spin 1s linear infinite;
    -ms-animation: scanvas-app-preloader-spin 1s linear infinite;
    animation: scanvas-app-preloader-spin 1s linear infinite
}

@-webkit-keyframes scanvas-app-preloader-spin {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg)
    }
}

@keyframes scanvas-app-preloader-spin {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg)
    }
}