<loading ng-if="technology.loading"></loading>
<div class="technology" ng-if="!technology.loading">
  <div class="content container technology">
    <header class="technology-header row">
      <div class="col-md-12">
        <div class="pull-left">
          <img ng-src="{{ technology.item.image }}" class="technology-image" />
        </div>
        <div class="pull-left">
          <h1 class="technology-name">{{ technology.item.name }} <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star-empty"></span> Seguir</button></h1>
          <ul class="technology-meta">
            <li ng-if="technology.item.recommendation.length"><span class="label label-default technology-recommendation">{{ technology.item.recommendation }}</span></li>
            <li ng-if="technology.item.website.length"><span class="glyphicon glyphicon-link"></span> <a href="{{ technology.item.website }}" target="_blank" title="{{ technology.item.name }}">{{ technology.item.website }}</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="technology-body">
      <div class="technology-section row">
        <div class="technology-description col-md-7" ng-bind-html="technology.item.description | nl2p">
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-section">
              <h3 class="card-title">Como você se avalia nessa tecnologia?</h3>
            </div>
            <div class="card-section">
              <form action="" class="form-inline">
                <div class="radio technology-rating" ng-repeat="rating in technology.ratings" ng-class="{'active' : rating.value == technology.rating}">
                  <label for="rating-{{ rating.value }}">
                    <img ng-src="assets/images/{{ rating.title | lowercase }}.png" class="technology-rating-image" alt="{{ rating.title }}">
                    <span class="technology-rating-text">
                      <span class="glyphicon glyphicon-star-empty" ng-repeat="i in [] | range:rating.value"></span>
                    </span>
                    <span class="technology-rating-text">{{ rating.title }}</span>
                    <input type="radio" ng-model="technology.rating" ng-change="technology.setSkill(technology.id, rating.value)" name="rating" class="technology-rating-input" id="rating-{{ rating.value }}" value="{{ rating.value }}" ng-checked="rating.value == technology.rating">
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- TECHNOLOGY ENDORSMENTS -->
      <div class="technology-section row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-section">
              <h3 class="card-title">Quem manja muito desta tecnologia na CI&amp;T?</h3>
            </div>
            <div class="card-section">
              <form action="" class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="usuario">
                  <span class="input-group-addon">@ciandt.com</span>
                </div>
                <button type="submit" class="btn btn-primary">Indicar</button>
              </form>
            </div>
            <div class="card-section">
              <h4>Quem já foi indicado:</h4>
              <div ng-repeat="i in [] | range:2">
                <div class="technology-endorsement row">
                  <div class="media col-md-7">
                    <div class="media-image technology-endorsement-image">
                      <a href="#/people/username"><img src="https://lh4.googleusercontent.com/-GgkIPViK0sU/AAAAAAAAAAI/AAAAAAAAABc/GxnDoMppmL8/photo.jpg?sz=50" alt=""></a>
                    </div>
                    <div class="media-content">
                      <div class="row">
                        <div class="col-md-6">
                          <p><strong><a href="#/people/username">Neliza Souza</a></strong></p>
                        </div>
                        <div class="col-md-6 text-right">
                          <button class="btn btn-default btn-sm"><strong>+1</strong></button>
                          <a href="#/people/username"><img class="technology-endorsement-plus-image" src="https://lh4.googleusercontent.com/-GgkIPViK0sU/AAAAAAAAAAI/AAAAAAAAABc/GxnDoMppmL8/photo.jpg?sz=50" alt=""></a>
                          <a href="#/people/username"><img class="technology-endorsement-plus-image" src="https://lh5.googleusercontent.com/-AyoC_aHm5iU/AAAAAAAAAAI/AAAAAAAABFw/-eaQx3SF2qs/photo.jpg?sz=50" alt=""></a>
                          <a href="#/people/username"><img class="technology-endorsement-plus-image" src="https://lh5.googleusercontent.com/-Ggye___6JQU/AAAAAAAAAAI/AAAAAAAAABc/9udrCsEUoc4/photo.jpg?sz=50" alt=""></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <p><strong><a href="#/people/username">Neliza Souza</a></strong> ainda não se auto avaliou.</p>
                  </div>
                </div>
                <div class="technology-endorsement row">
                  <div class="media col-md-7">
                    <div class="media-image technology-endorsement-image">
                      <a href="#/people/username"><img src="https://lh5.googleusercontent.com/-AyoC_aHm5iU/AAAAAAAAAAI/AAAAAAAABFw/-eaQx3SF2qs/photo.jpg?sz=50" alt=""></a>
                    </div>
                    <div class="media-content">
                      <div class="row">
                        <div class="col-md-6">
                          <p><strong><a href="#/people/username">Igor Leal</a></strong></p>
                        </div>
                        <div class="col-md-6 text-right">
                          <button class="btn btn-default btn-sm"><strong>+1</strong></button>
                          <a href="#/people/username"><img class="technology-endorsement-plus-image" src="https://lh5.googleusercontent.com/-Ggye___6JQU/AAAAAAAAAAI/AAAAAAAAABc/9udrCsEUoc4/photo.jpg?sz=50" alt=""></a>
                          <a href="#/people/username"><img class="technology-endorsement-plus-image" src="https://lh4.googleusercontent.com/-GgkIPViK0sU/AAAAAAAAAAI/AAAAAAAAABc/GxnDoMppmL8/photo.jpg?sz=50" alt=""></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <p><strong><a href="#/people/username">Igor Leal</a></strong> se auto avaliou como <strong>Jedi</strong> <span class="glyphicon glyphicon-star-empty" ng-repeat="i in [] | range:5"></span></p>
                  </div>
                </div>
              </div>

              <!-- <div class="technology-endorsement row">
                <div class="media col-md-7">
                  <div class="media-image technology-endorsement-image">
                    <a href="#/people/username"><img src="https://lh5.googleusercontent.com/-Ggye___6JQU/AAAAAAAAAAI/AAAAAAAAABc/9udrCsEUoc4/photo.jpg?sz=50" alt=""></a>
                  </div>
                  <div class="media-content">
                    <p><strong><a href="#/people/username">Thulio Ribeiro</a></strong></p>
                  </div>
                </div>
                <div class="col-md-5">
                  <p><strong><a href="#/people/username">Thulio Ribeiro</a></strong> se autoavaliou como <strong>Padawan</strong> <span class="glyphicon glyphicon-star-empty" ng-repeat="i in [] | range:3"></span></p>
                </div>
              </div> -->

              <div class="technology-endorsement row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <button class="btn btn-default btn-sm btn-block">Ver mais profissionais</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
