<loading ng-if="technologies.isLoading()"></loading>
<div class="technologies" ng-if="!technologies.isLoading()">
  <!-- TECHNOLOGIES TOOLBAR -->
  <div class="toolbar btn-toolbar" role="toolbar">
    <div class="container">
      <div class="pull-left">
        <form class="form-inline">
          <div class="form-group">
            <label for="technology-filter" tabindex="0" tooltip-placement="bottom" uib-tooltip="Filtrar por"><span class="glyphicon glyphicon-filter"></span></label>
            <select class="form-control" id="technology-filter">
              <option value="">Todos</option>
              <option value="">Recomendada</option>
              <option value="">Recomendada alternativa</option>
              <option value="">Usar e aprender</option>
              <option value="">Observar e fazer provas de conceito</option>
              <option value="">Não recomendadas ou aposentar</option>
              <option value="">Não informado</option>
            </select>
          </div>
          <div class="form-group">
            <label for="technology-order" tabindex="0" tooltip-placement="bottom" uib-tooltip="Ordenar por"><span class="glyphicon glyphicon-sort"></span></label>
            <select class="form-control" id="technology-order">
              <option value="">Alfabética</option>
              <option value="">Recomendações positivas</option>
              <option value="">Recomendações negativas</option>
              <option value="">Comentários</option>
              <option value="">Indicações</option>
            </select>
          </div>
          <div class="form-group">
            <label for="technology-order" tabindex="0" tooltip-placement="bottom" uib-tooltip="Última atividade"><span class="glyphicon glyphicon-time"></span></label>
            <select class="form-control" id="technology-order">
              <option value="">Último Dia</option>
              <option value="">Últimos 7 Dias</option>
              <option value="">Últimos 30 Dias</option>
            </select>
          </div>
        </form>
      </div>

      <div class="btn-group pull-right" role="group" ng-if="isUserLogged">
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar tecnologia</button>
      </div>
    </div>
  </div>

  <div class="content-wrapper container">
    <div class="row">
      <div class="col-sm-6 col-md-3" ng-repeat="technology in technologies.items">
        <div class="card">
          <div class="card-header card-section">
            <div class="technology-image">
              <a href="#/technologies/{{ technology.id }}"><img ng-src="{{ technology.image }}" alt="{{ technology.name }}" data-holder-rendered="true"></a>
            </div>
            <h3 class="card-title"><a href="#/technologies/{{ technology.id }}">{{ technology.name }}</a></h3>
            <span class="label label-default">{{ technology.recommendation }}</span>
          </div>
          <div class="card-content card-section">
            <div class="technology-description">
              <p>{{ technology.shortDescription }}</p>
            </div>
          </div>
          <div class="card-actions card-section" ng-if="isUserLogged">
            <div class="pull-left">
              <button type="button" ng-click="deleteTechnology(technology.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star-empty"></span> Seguir</button>
            </div>
            <div class="pull-right">
              <a href="#/technologies/{{ technology.id }}/edit" class="btn btn-default btn-xs" title="Editar {{ technology.name }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
              <!-- <button type="button" ng-click="deleteTechnology(technology.id)" class="btn btn-danger btn-xs" title="Deletar {{ technology.name }}"><span class="glyphicon glyphicon-trash"></span></button> -->
            </div>
          </div>
          <div class="card-meta card-section">
            <div class="titleThumbnail">
              <span class="glyphicon glyphicon-thumbs-up"></span> {{ technology.positiveRecommendationsCounter }}
              <span class="glyphicon glyphicon-thumbs-down"></span> {{ technology.negativeRecommendationsCounter }}
              <span class="glyphicon glyphicon-user"></span> {{ technology.endorsersCounter }}
              <span class="glyphicon glyphicon-list-alt"></span> {{ technology.commentariesCounter }}
            </div>
            <small class="technology-last-activity">
              <span class="lastActivityLabel">Última Atividade:</span>
              <time>{{ technology.lastActivity | date:"dd/MM/yyyy H:mm" }}</time>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
