<loading ng-if="technology.loading"></loading>
<div class="technology" ng-if="!technology.loading">
  <div class="content container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <section class="card">
          <header class="card-section card-section--no-border">
            <h3 class="no-margin">Adicionar nova tecnologia</h3>
            <!-- <p>Informe as características da tecnologia</p> -->
          </header>
          <form class="card-section row">
            <div class="form-group col-md-8">
              <label for="technology-name">Nome da tecnologia</label>
              <input type="text" class="form-control" id="technology-name" name="technology[name]" autofocus placeholder="Nome">
            </div>
            <div class="form-group col-md-4">
              <label for="technology-image">Imagem</label>
              <input type="file" class="form-control" id="technology-image" name="technology[image]">
            </div>
            <div class="form-group col-md-12">
              <label for="technology-description">Descrição</label>
              <textarea class="form-control" id="technology-description" name="technology[description]" placeholder="Descrição"></textarea>
            </div>
            <div class="form-group col-md-12">
              <label for="technology-shortDescription">Descrição curta</label>
              <textarea class="form-control" id="technology-shortDescription" name="technology[shortDescription]" placeholder="Descrição curta"></textarea>
              <p class="help-block">Utilizada na listagem das techonogias.</p>
            </div>
            <div class="form-group col-md-12">
              <label for="technology-website">Website</label>
              <input type="text" class="form-control" id="technology-website" name="technology[website]" placeholder="http://">
            </div>
            <div class="form-inline col-md-12 text-right">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="technology[addNew]"> Adicionar outra
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Adicionar tecnologia</button>
              <a href="#/technologies" class="btn btn-link">Cancelar</a>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
