<loading ng-if="technology.loading"></loading>
<div class="technology" ng-if="!technology.loading">
  <div class="content container">

    <div class="col-md-12" ng-if="app.alert.message.length">
      <uib-alert type="{{ app.alert.type }}" close="app.closeAlert()">
        {{ app.alert.message }}
      </uib-alert>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card no-margin">
          <div class="card-section">
            <h1 class="card-title" ng-if="!technology.id.length">Adicionar nova tecnologia</h1>
            <h1 class="card-title" ng-if="technology.id.length">Editar tecnologia</h1>
          </div>
          <div class="card-section">
            <form id="addTechnologyForm" name="addTechnologyForm" ng-submit="technology.addOrUpdateTechnology(addTechnologyForm)" novalidate>
              <div class="row">
                <div class="form-group col-md-5">
                  <div class="media">
                    <div id="div_image" class="media-left">
                      <output id="list">
                        <label for="technology-image"><img src="assets/images/no_image.png" title="Insira uma imagem"></label>
                      </output>
                    </div>
                    <div class="media-body">
                      <label for="technology-image">Imagem</label>
                      <input type="file" class="form-control" id="technology-image" ng-model="technology.image" onchange="angular.element(this).scope().handleFileSelect(this)">
                      <span class="help-block">Tamanho: 100x100</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-7" ng-class="{'has-error': (addTechnologyForm.name.$invalid && addTechnologyForm.name.$touched) || (addTechnologyForm.$submitted && addTechnologyForm.name.$invalid)}">
                  <label for="technology-name">Nome da tecnologia</label>
                  <input type="text" class="form-control" id="technology-name" name="name" ng-model="technology.name" placeholder="Ex.: AngularJS" required="" maxlength="30" ng-disabled="technology.id.length">
                  <span class="help-block">Max: 30 caracteres</span>
                  <div ng-show="addTechnologyForm.$submitted || addTechnologyForm.name.$touched">
                    <span ng-show="addTechnologyForm.name.$error.required" class="help-block">O campo Nome é obrigatório</span>
                  </div>
                </div>
                <div class="form-group col-md-12" ng-show="loggedUserInformation.admin">
                  <div class="btn-group" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                      {{ technology.selectedRecommendation==null ? 'Recomendação Ci&T' : technology.selectedRecommendation }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                      <li role="menuitem" ng-repeat="item in technology.dropDownRecommendation">
                        <a href="#" ng-show="item != 'Todos' && item != 'Não informado'" ng-click="technology.selectRecommendation(item)">{{item}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group col-md-12" ng-show="loggedUserInformation.admin">
                  <textarea ng-model="technology.justification" class="form-control" id="idjust" maxlength="500" placeholder="<Justificativa da Recomendação Ci&T>" ></textarea>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-error': (addTechnologyForm.description.$invalid && addTechnologyForm.description.$touched) || (addTechnologyForm.$submitted && addTechnologyForm.description.$invalid)}">
                  <label for="technology-description">Descrição</label>
                  <textarea class="form-control" id="technology-description" style="min-height: 150px; height: 150px; max-height: 300px;" name="description" ng-model="technology.description" maxlength="500" placeholder="Descrição" required></textarea>
                  <div ng-show="addTechnologyForm.$submitted || addTechnologyForm.description.$touched">
                    <span ng-show="addTechnologyForm.description.$error.required" class="help-block">O campo Descrição é obrigatório</span>
                  </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-error': (addTechnologyForm.shortDescription.$invalid && addTechnologyForm.shortDescription.$touched) || (addTechnologyForm.$submitted && addTechnologyForm.shortDescription.$invalid)}">
                  <label for="technology-shortDescription">Descrição curta</label>
                  <textarea class="form-control" id="technology-shortDescription" name="shortDescription" ng-model="technology.shortDescription" maxlength="140" placeholder="Descrição curta" required></textarea>
                  <div ng-show="addTechnologyForm.$submitted || addTechnologyForm.shortDescription.$touched">
                    <span ng-show="addTechnologyForm.shortDescription.$error.required" class="help-block">O campo Descrição Curta é obrigatório</span>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label for="technology-website">Website</label>
                  <input type="text" class="form-control" id="technology-website" ng-model="technology.webSite" placeholder="http://">
                </div>
                <div class="form-inline col-md-12 text-right">
                  <div class="checkbox" ng-if="!technology.id.length">
                    <label>
                      <input type="checkbox" ng-model="technology.addNew"> Adicionar outra
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-if="technology.id.length">Editar tecnologia</button>
                  <button type="submit" class="btn btn-primary" ng-if="!technology.id.length">Adicionar tecnologia</button>
                  <a href="#/technologies" class="btn btn-link">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
