<!DOCTYPE html>
<html lang="en" ng-app="techGallery">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Tech Gallery</title>
        <link rel="stylesheet" href="css/techgallery.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="lib/gplus-bootstrap/css/styles.css" rel="stylesheet">
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/jsUtils.js"></script>
        <script src="js/services.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="lib/gplus-bootstrap/js/bootstrap.min.js"></script>
        <script src="js/controllers/techListController.js"></script>
        <script src="lib/gplus-bootstrap/js/scripts.js"></script>
        
        <script src="js/googleAnalytics.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="lib/angular-route/angular-route.min.js"></script>
	</head>
	<body ng-controller="techListController">
        <a href="/createTech.html" title="Adicionar Tecnologia" class="btn btn-default btn-circle glyphicon-plus techGalleryFixedLink" ng-show="userLogged"></a>
        <nav class="navbar navbar-fixed-top header">
         	<div class="col-md-12">
                <div class="navbar-header">
                  <a href={{indexPage()}} class="navbar-brand"><img src="https://storage.googleapis.com/tech-gallery-assets/appLogo/tech-gallery.png" style="height: 35px; margin-top: -10px;">  Tech Gallery</a>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchPannel">
                  <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="searchPannel">
                  <form class="navbar-form pull-left">
                      <div style="max-width:700px;">
                        <input ng-disabled=showLogin type="text" ng-model="textSearch" class="form-control" placeholder="Digite sua busca...">
                        <div class="btn-group" dropdown>
                          <button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled=showLogin>
                            {{ selectedRecommendation==null ? 'Filtrar Por:' : selectedRecommendation }} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="item in dropDownRecommendation">
                              <a href="#" ng-click="selectRecommendation(item)">{{item}}</a>
                            </li>
                          </ul>
                        </div>
                        <div class="btn-group" dropdown>
                          <button id="opt" type="button" class="btn btn-default" dropdown-toggle ng-disabled=showLogin>
                            {{ selectedOrderOption==null ? 'Ordenar Por:' : selectedOrderOption }} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="opt">
                            <li role="menuitem" ng-repeat="item in orderOptions">
                              <a href="#" ng-click="selectOrderOption(item)">{{item}}</a>
                            </li>
                          </ul>
                        </div>
                        <button class="btn btn-default btn-primary" type="submit" ng-disabled=showLogin ng-click="searchTechnology()"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-default btn-danger" type="submit" ng-disabled=showLogin ng-click="searchClear()" ng-show="textSearch || selectedRecommendation || selectedOrderOption"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a href="#" class="glyphicon glyphicon-user" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu">
                          <li><a href={{logoutRedirect()}} ng-show="domainError || userLogged"><span class="badge pull-right glyphicon glyphicon-log-out"></span>Logout</a></li>
                         </ul>
                     </li>
                   </ul>
                </div>	
             </div>	
        </nav>
        <div class="navbar navbar-default" id="subnav">
            <div class="col-md-12">
                <div class="navbar-header">
                  
                  <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Lista de Technologias <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
                  <ul class="nav dropdown-menu">
                      <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Meu Perfil </a></li>
                      <li><a href="/createTech.html"><i class="glyphicon glyphicon-plus"></i> Criar Tecnologia </a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-eye-open" style="color:#dd1111;"></i> Tecnologia </a></li>
                  </ul>
                  
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse2">
                  <ul class="nav navbar-nav navbar-right">
                     <li ng-show="showLogin && !domainError"><a href="#" ng-click="login()" role="button" data-toggle="modal">Login</a></li>
                     <li ng-show="domainError || userLogged"><a href={{logoutRedirect()}} role="button" data-toggle="modal">Logout</a></li>
                   </ul>
                </div>	
             </div>	
        </div>

        <div class="container" id="main">
           <div class="row">
               <div ng-show="showLoading">
                   <img class="loading" src="/images/loading.gif">
               </div>
               <center>
                   <div class="panel panel-default" ng-show="showLogin || domainError" style="width: 600px">
                       <div class="panel-heading"><h4>Tech Gallery...</h4></div>
                       <div class="panel-body">
                          <p>
                              <a href="#">Seja bem vindo(a) ao Tech Gallery!!!</a>
                          </p>
                          <img src="https://storage.googleapis.com/tech-gallery-assets/appLogo/tech-gallery.png" class="img-circle">
                          <div class="clearfix"></div>
                          <hr>
                          <p>
                          A ferramenta Tech Gallery é uma aplicação que visa prover uma interatividade entre as principais tecnologias do mercado e as opiniões de diversos desenvolvedores que já tiveram uma experiência com tal tecnologia.
                          </p>
                          <p ng-show="showLogin && !domainError">Para ter acesso ao conteúdo da aplicação realize seu <a href="#" ng-click="login()">login</a> e desfrute.</p>
                          <p ng-show="domainError">{{domainError}}</p>
                       </div>
                   </div>
               </center>
               <div class="col-sm-6 col-md-3" ng-repeat="tech in techList">
                    <div class="thumbnail">
                        <div class="thumbsRecommendation">
                         {{tech.recommendation}}
                        </div>
                        <a class="titleThumbnail" href={{redirectUrl(tech.id)}}>
                            <h3>{{tech.name}}</h3>
                        </a>
                      <div class="imageSize">
                          <img src={{tech.image?tech.image:defaultTechImage}} data-holder-rendered="true"
                              class="thumbnail-Image">
                        </div>
                        <div class="caption">
                            <p class='technologydescription'>{{tech.shortDescription}}</p>
                        </div>
                        <div class="titleThumbnail">
                            <span class="glyphicon glyphicon-thumbs-up thumbsIcons"><span class="badge pull-right thumbsBadges">{{tech.positiveRecommendationsCounter}}</span></span>
                            <span class="glyphicon glyphicon-thumbs-down thumbsIcons"><span class="badge pull-right thumbsBadges">{{tech.negativeRecommendationsCounter}}</span></span>
                            <span class="glyphicon glyphicon-user thumbsIcons"><span class="badge pull-right thumbsBadges">{{tech.endorsersCounter}}</span></span>
                            <span class="glyphicon glyphicon-list-alt thumbsIcons"><span class="badge pull-right thumbsBadges">{{tech.commentariesCounter}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>