<!doctype html>
<html lang="en" ng-app="techGallery" ng-cloak>
<head>
  <meta charset="utf-8">
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/techgallery.css" />

  <script src="https://apis.google.com/js/client.js?onload=init"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="lib/angular-route/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jsUtils.js"></script>
  <script src="js/googleAnalytics.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers/techDetailsController.js"></script>
  <script src="js/controllers/modalController.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script type="text/ng-template" id="customTemplate.html">
  <a>
      <img src={{match.model.photo}} class="autoCompleteImage">
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
	  <br>
	  <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
	  <li class="separator"></li>
  </a>
</script>
</head>
<body ng-controller="techDetailsController">

  <nav class="navbar navbar-fixed-top techGalleryFixedBar">
    <div class="container">
      <div class="navbar-header alignBar">
        <a class="navbar-brand" href={{indexPage()}}>
          <img class="logoBar" src="https://storage.googleapis.com/tech-gallery-assets/appLogo/tech-gallery.png">
          <h3 class="headerBar">Tech Gallery</h3>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse rightSideBar">
        <div class="navbar-form navbar-right">
          <a ng-show="showLogin && !domainError" href="#" ng-click="login()" class="whiteText">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
          <a ng-show="domainError || userLogged" href={{logoutRedirect()}} class="whiteText">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="page-header"></div>

  <div class="login-Button" ng-show="showLogin">
    <h3 ng-show="!domainError">Para ter acesso ao conteúdo realize seu login...</h3>
    <h3 ng-show="domainError">{{domainError}}</h3>
  </div>

  <h3 ng-show="showTechNotExists">Essa tecnologia não existe! Favor selecionar outra.</h3>
  <div ng-show="showContent" class="page-header">
    <div>
        <button type="button" ng-click="editTechnology()" class="btn btn-danger glyphicon glyphicon-edit btn-xs"></button>
    </div>
    <div id="div_container" class="container">
      <div class="row">
        <div id="div_image" class="col-xs-6">
          <img src={{image}} class="img-responsive img-tech-view">
        </div>
        <div id="div_teste" class="container">
          <div id="div_image_name" class="col-xs-6">
            <a href="{{website}}" target="_blank"><h1>{{name}}</h1></a>
            <button id={{generateFollowId()}} type="button" class="btn" ng-click="followTechnology()" ng-class="setFollowedClass(followedByUser)">Seguir</button>
            <h4>{{recommendation}}</h4>
            <h5>{{justification}}</h5>
          </div>
        </div>
      </div>
      <div class="voting_wrapper technologydescription spacingtop"
        id="div_details">{{description}}</div>
    </div>

    <div class="container">
      <h3>Quem manja muito desta tecnologia?</h3>
      <div class="input-group endorse-input">
        <input ng-model="endorsed" type="text" class="form-control"
          placeholder="(usuário)" aria-describedby="basic-addon2" typeahead="user as user.email for user in getUsersList($viewValue)" typeahead-min-length="3" typeahead-template-url="customTemplate.html" typeahead-loading="loadingUsers" typeahead-no-results="noResults">
        <span class="input-group-addon" id="basic-addon2">{{domain}}</span>
      </div>
      <button ng-click="endorse(true)" class="btn btn-primary"
        role="button">Indicar</button>
      <label class="checkGooglePlus">
          <input type="checkbox" ng-change="changePreference()" ng-model="postGooglePlus">Permitir postagem no Google+
      </label>
      <div ng-show="loadingUsers">
        <i class="glyphicon glyphicon-refresh"> Carregando...</i>
      </div>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> Não foram encontrados registros...
      </div>
    </div>
    <div>
      <img ng-show="processEndorse" src="/images/loading.gif"
        class="loading">
    </div>
    <div class="endorse-alerts spacingtop">
      <alert ng-show="alert" type={{alert.type}} close="closeAlert()">{{alert.msg}}</alert>
    </div>

    <div id="informSkill" class="container spacingtop">
      <h3>Em uma escala de Newbie a Jedi, como você se avalia nesta
        tecnologia?</h3>
      <rating ng-model="rate" max="max" readonly="false"
        on-hover="hoveringOver(value)" on-leave="overStar = null"
        ng-click="selecSkill()" titles="['','','','','']"></rating>
      <span class="label"
        ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
        ng-show="overStar">{{skillLbl}}</span>
      <h4 ng-show="skillLevel">Sou um {{skillLevel}}!</h4>
    </div>

    <div>
      <img ng-show="loadEndorsements" src="/images/loading.gif"
        class="loading">
    </div>

    <div id="div_showRecommendation" class="container">
      <h3>Quem é referência?</h3>
      <div ng-show="!showEndorsementResponse">
        <h5>Ainda não tem ninguém aqui. Indique um colega que saiba
          disso ali em cima!</h5>
      </div>

      <div class="row">
        <div class="overLayer" ng-show="processingEndorse">
          <img src="/images/loading.gif"
          class="loading">
        </div>
        <div class="spacingtop"
          ng-repeat="response in showEndorsementResponse track by $index">
          <div class="media col-xs-6">
            <div class="media-left media-middle">
              <a href={{redirectUserProfile(response.endorsed.email)}}>
                <img class="media-object endorsed-image"
                  src={{response.endorsed.photo}}>
              </a>
            </div>
            <div class="media-body">
              <a href={{redirectUserProfile(response.endorsed.email)}}>
                <h4 class="media-heading">{{response.endorsed.name}}</h4>
              </a>
              <rating ng-model="response.endorsedSkill" max="5"
                readonly="true" titles="['','','','','']"></rating>
            </div>
          </div>

          <div id="div_image_recomendations" class="container">
            <div class="col-xs-6" ng-show="response.endorsersFiltered.length > 0">
              <button ng-show="!showSelfInformations(response.endorsed.email)"
                type="button" id={{generateId($index,response.endorsed.email)}}
                ng-disabled=disablePlusOne
                ng-click="addEndorse(response.endorsed, generateId($index,response.endorsed.email))" class="plusOneButton" tooltip={{setToolTipPlusOne($index,response.endorsed.email)}}
                ng-class="response.endorsers.plusOneClass">+{{response.endorsers.length}}</button>
              <div
                ng-repeat="endorser in response.endorsersFiltered track by $index">
                <a href={{redirectUserProfile(endorser.email)}}>
                  <img class="media-object endorsers-image"
                    src={{endorser.photo}} tooltip={{endorser.name}}>
                </a>
              </div>
              <a href="#" ng-show="showAllEndorsers(response.endorsers)"
                class="glyphicon glyphicon-play"
                ng-click="open(response.endorsers)"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="choose_recommendation" class="container">
    	<div>
    		<h3 class="col-md-9 recommendQuestion">Recomenda esta tecnologia? 
    			<button type="button" class="btn btn-link removeFilter" ng-click="removeFilter()">Remover filtro</button>
    		</h3>
    		
    		<div id="recommend_area" class="col-md-9 text-left">
    			<button id="btn_up" type="button" ng-click="changeThumbs('up')" ng-class="setClassThumbs('up')" 
    					class="btn glyphicon glyphicon-thumbs-up thumbsFont"></button>
    					
    			<a href="#ANC_COMMENTS" class="recommendations-link" ng-click="filterRecommenders()">{{up}}</a>
    			
    			<button id="btn_down" type="button" ng-click="changeThumbs('down')" ng-class="setClassThumbs('down')" 
    					class="btn glyphicon glyphicon-thumbs-down thumbsFont"></button>
    					
    			<a href="#ANC_COMMENTS" class="recommendations-link" ng-click="filterNoRecommenders()">{{down}}</a>
          
          <label class="checkGooglePlus">
              <input type="checkbox" ng-change="changePreference()" ng-model="postGooglePlus">Permitir postagem no Google+
          </label>
    		</div>
    	</div>
    </div>
    <div id="add_comments" class="container">
    	<div class="endorse-alerts spacingtop">
	      <alert ng-show="alertComment" type="danger" close="closeAlertComment()">{{alertMsgComment}}</alert>
	    </div>
    	<div>
	    	<h3>Comentários</h3>
	    	<h5 ng-show="recommend_message">Para completar a recomendação desta tecnologia, faça um comentário:</h5>
	    	<div id="comment_area" class="col-md-9 text-right">
		    	<textarea id="txta_comment" ng-model="comment" class="form-control textarea" maxlength="500"></textarea>
		    	<button id="btn_clear" type="button" class="btn btn-primary" ng-click="clearComment()">Limpar</button>
		    	<button id="btn_add_comment" type="button" class="btn btn-primary" ng-click="addComment()">Comentar</button>
	    	</div>
    	</div>
    </div>
    <div id="show_comments" class="container">
    	<a name="ANC_COMMENTS"></a>
	    <div class="overLayer" ng-show="processingComment">
	      <img src="/images/loading.gif" class="loading">
	    </div>
	    <div class="col-xs-9">
	  		<div class="commentBlock" ng-repeat="comment in techComments track by $index">
	    		<span class="glyphicon glyphicon-thumbs-up recommendationInComment" ng-show="comment.recommendationScore != null && comment.recommendationScore"></span>
	    		<span class="glyphicon glyphicon-thumbs-down recommendationInComment" ng-show="comment.recommendationScore != null && !comment.recommendationScore"></span>
	    		<div id="organize_comments" class="container">
		  			<div class="commentHeader">
                        <a href={{redirectUserProfile(comment.author.email)}}>
						  <img class="media-object endorsed-image commentImage img-circle" src="{{comment.author.photo}}"/>
                        </a>
		  				<b class="flex1">
                        <a href={{redirectUserProfile(comment.author.email)}}>
		  				  <span class="commentName">{{comment.author.name}}</span>
                        </a>
                        <span class="smallFont"> em </span>
		  				<span class="mediumFont">{{comment.creation | date:"dd/MM/yyyy 'às' H:mm"}}</span><span class="smallFont"> disse:</span>
		  				</b>
		  				<a ng-show="showSelfInformations(comment.author.email)" ng-click="deleteComment(comment.id)" 
		  					ref="#" id="btn_delete" type="button" class="btn glyphicon glyphicon-remove-circle"></a>
		  			</div>
		  			<h5>{{comment.comment}}</h5>
	  			</div>
	  		</div>
	  	</div>
    </div>

  </div>
</body>
</html>
